*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    min-height: 100%;
}

.page-body {
    min-height: 100%;
    font-size: 18px;
    font-family: Geometria, Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ccc;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.widget-events {
    /*display: flex;*/
    position: absolute;
    top: 100px;
    right: 78px;
    width: 164px;
    height: 164px;
    color: #FFFFFF;
    z-index: 10;
}

.widget-events__item {
    position: absolute;
    width: 164px;
}

.widget-events__item:nth-child(1) {
    z-index: 100;
}

.widget-events__item:nth-child(2) {
    outline: 2px dashed red;

    /*animation-name: events-fly;*/
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

/*.widget-events__item:nth-child(n+2) {*/
/*    transform: scale(0.30) translate(424px, -570px);*/
/*}*/

/*.widget-events__item:nth-child(n+2) .widget-events__data,*/
/*.widget-events__item:nth-child(n+2) .widget-events__slider-desc {*/
/*    opacity: 0;*/
/*}*/

/*.widget-events__data {*/
/*    text-align: center;*/
/*}*/

/*.widget-events__data p {*/
/*    font-size: 30px;*/
/*    color: orange;*/
/*}*/

/*.widget-events__cover {*/
/*    margin-top: 30px;*/
/*}*/

/*.widget-events__cover-img {*/
/*    border-radius: 50%;*/
/*    margin-bottom: 32px;*/
/*}*/

/*.widget-events__slider-desc {*/
/*    width: 100%;*/
/*    font-size: 24px;*/
/*    line-height: 29px;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*}*/

/*!* новая анимация полёта *!*/
@keyframes events-fly {
    0% {
        transform: scale(0.50) translateX(0) rotate(-90deg);
    }
    15% {
        transform: scale(0.50) translateX(-450px) rotate(-45deg);
        opacity: 1;
    }
    30% {
        transform: scale(1) translateX(0px) rotate(0deg);
        opacity: 1;
        z-index: 1;
    }
    100% {
        transform: scale(1) translateX(0px) rotate(0deg);
        opacity: 1;
        z-index: 11;
    }
}
